h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  text-align: center;
}

footer {
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: blueviolet;
}
