body {
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.main-image {
  max-width: 50%;
}

.img-responsive {
  width: 100%;
  display: block;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary-section {
  background-color: bisque;
}

header {
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../src/images/chai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  text-align: center;
  padding: 100px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  background-color: antiquewhite;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: antiquewhite;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.btn {
  display: block;
  color: bisque;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 20px;
  background-color: #7a5bf6;
  text-decoration: none;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../src/images/chai-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer ul {
  padding: 0;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: rgb(211, 178, 242);
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .grid-3-col {
    grid-template-columns: 1fr;
  }
  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
